.header {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  box-shadow: #00000030 0px 10px 10px;
  position: relative;
  z-index: 999;
  transform: translateY(-100%);
  animation: showUpHeader 1s cubic-bezier(.76,0,.14,1) forwards;
  animation-delay: 0.5s;
}

@keyframes showUpHeader {
  to { transform: translateY(0%); }
}

.burger {
  display: none;
  font-size: 1.5em;
  padding: 1em;
  cursor: pointer;
}

.inner-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  transition: max-height 0.3s ease;

  h2 {
    color: black;
    font-family: Lexend;
    font-size: 1.5em;
    font-weight: 600;
    padding: 1.5em;
    transition: 0.3s;
  }


  /* Responsive part */
  @media screen and (max-width: 768px) {
    .burger {
      display: block;
    }

    .inner-header {
      flex-direction: column;
      align-items: flex-start;
      max-height: 0;
      overflow: hidden;
      width: 100%;
      background-color: #fff;
    }

    .inner-header.active {
      max-height: 500px; /* ajustable selon le contenu */
      padding-bottom: 1em;
    }

    .inner-header h2 {
      padding: 0.5em 1em;
      width: 100%;
      text-align: left;
      font-size: 1.2em;
    }
  }
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: inherit;
  opacity: 0;
  transition: 0.3s;
  animation: showUpLink 0.5s cubic-bezier(.76,0,.14,1) forwards;
  animation-delay: calc(1.5s + var(--i) * 0.15s); /* deferred according to its position */
}

.nav-link:hover {
  color: rgb(31, 155, 212);
  transition: 0.3s;
  user-select: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 3px;
  background: rgb(31, 155, 212);
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: .3s ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
}


@keyframes showUpLink {
  from { opacity: 0; }
  to { opacity: 1; }
}